#annotation-marker {
  position: fixed;
  z-index:2;
  border: 5px solid #39ff14;
   border-radius: 100px;
   height:100px;
   width:100px;
}

img {
  width: 700px;
  height: auto;
}

.container {
  border-color: gray;
  border-style: dotted;
  border-width: 3px;
}

.div--app {
  margin: 2.5%;
  border-color: #e3e6ea;
  border-style: dotted;
  border-width: 3px;
}

.div--content-container {

}

.div--index-container {

}

.div--art-card {
  border-color: yellow;
  border-style: solid;
  border-width: 3px;
  text-align: center;
}

.div--search-bar {
  border-color: cyan;
  border-style: solid;
  border-width: 3px;
}

.div--art-list-container {

}
